body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #000000;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: , cursive;
}

h2 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 5px;
}

h3 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.4rem;
}

p {
  line-height: 2;
  color: #ffffff;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #9da09e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #FFFFFF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #000000;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.data-img {
  width: 40%;
  height: 100%;
  float: left;
  margin-right: 30px;
}

.mario-img {
  width: 40%;
  height: 100%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  height: 30%;
  float: right;
  margin-left: 30px;
}

.basketball-img {
  width: 35%;
  height: 30%;
  float: right;
  margin-right: 30px;
  margin-bottom: 30px;
}

.powerbi{
  width:100%;
  height:40%;
}

.btn {
  background: #FFBF00;
  background-image: -webkit-linear-gradient(top, #FFBF00, #FFBF00);
  background-image: -moz-linear-gradient(top, #FFBF00, #FFBF00);
  background-image: -ms-linear-gradient(top, #FFBF00, #FFBF00);
  background-image: -o-linear-gradient(top, #FFBF00, #FFBF00);
  background-image: linear-gradient(to bottom, #FFBF00, #FFBF00);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FFB200;
  background-image: -webkit-linear-gradient(top, #FFB200, #FFB200);
  background-image: -moz-linear-gradient(top, #FFB200, #FFB200);
  background-image: -ms-linear-gradient(top, #FFB200, #FFB200);
  background-image: -o-linear-gradient(top, #FFB200, #FFB200);
  background-image: linear-gradient(to bottom, #FFB200, #FFB200);
  text-decoration: none;
}











body {
    background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
}

.ryu {
    float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .easteregg {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .easteregg {
  display: none;
}

.ryu-ready {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/145077/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/145077/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/145077/ryu-throwing-hadouken.png');
}

.ryu-cool {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/145077/ryu-cool.gif');
}

.easteregg {
    margin-left: 80%;
    margin-top: -78%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/145077/easteregg.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .easteregg {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/145077/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: relative;
  top: 167px;
  left: -212px;
  float: left;
}

.instructions {
    font-family: 'Ceviche One', cursive;
    font-size: 45px;
    color: lightgray;
    text-align: right;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
}
